target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### develop mode user data ###
data/

### staging ###
staging/

### dist ###
dist/

### release ###
release/

### temp ###
temp/

### scripts [sha-jar-deps] intermediate product ###
jar-dependencies.txt

### uv ###
.venv/

### moved file, previously located in the staging directory ###
/build/scripts/build.py
/build/scripts/build_install.py
/build/scripts/build_portable.py
/build/scripts/prepare_for_building.py
/build/scripts/release.py
/build/launch4j/launch4j.xml
/build/inno/setup.iss
